.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 50px;
}
.gutterRow {
    padding: 0 8px;
}
.title {
    margin-top: 0;
}
.titleDark {
    color: var(--white) !important;
}
.earningsCardDark {
    background-color: var(--dark);
}
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0px 20px;
    }
    .choreList {
        margin-bottom: 20px;
    }
}