:root {
  --white: #fff;
  --black: #353d3f;
  --dark-blue: #313866;
  --light-green: #c1e4da;
  --mid-green: #70aeaa;
  --dark-green: #598983;
  --red: #ed4c3e;
  --red-dark: #dd3e34;
}

html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
  background-color: var(--light-green);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

input {
  width: 100%;
  padding: 0.25rem;
}

main {
  min-height: 75vh;
}

/*----- antd overrides -----*/
.ant-btn-primary {
  background-color: var(--red-dark);
  border-color: var(--red-dark);
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: var(--red);
  border-color: var(--red);
}
.ant-float-btn-primary .ant-float-btn-body {
  background-color: var(--red-dark);
}
.ant-float-btn-primary .ant-float-btn-body:hover {
  background-color: var(--red);
}