:root {
  --white: #fff;
  --black: #000;
  --light-gray: #c3c3c3;
  --gray: #999;
  --logo-green: #01ca68;
  --dark: #353d3f;
  --darker: #212628;
  --darkest: #101213;
  --dark-blue: #313866;
  --light-green: #c1e4da;
  --mid-green: #70aeaa;
  --dark-green: #598983;
  --red: #ed4c3e;
  --red-dark: #dd3e34;
}

html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
  background-color: var(--light-green);
}

body.dark {
  background-color: var(--darker);
  color: var(--white);
}

body.dark .ant-typography {
  color: var(--light-gray);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ant-typography a {
  color: var(--logo-green);
}

main {
  flex-grow: 1;
}

input {
  width: 100%;
  padding: 0.25rem;
}

main {
  min-height: 75vh;
}

/*----- antd overrides -----*/
.ant-btn-primary {
  background-color: var(--red-dark);
  border-color: var(--red-dark);
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: var(--red);
  border-color: var(--red);
}
.ant-float-btn-primary .ant-float-btn-body {
  background-color: var(--red-dark);
}
.ant-float-btn-primary .ant-float-btn-body:hover {
  background-color: var(--red);
}
.ant-checkbox-wrapper-checked {
  text-decoration: line-through;
  color: var(--gray);
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-btn-link,
.ant-tabs .ant-tabs-tab:hover {
  color: var(--logo-green) !important;
}
.ant-list-item-action .ant-btn-link:hover {
  color: var(--red-dark) !important;
}
.ant-tabs-ink-bar {
  background-color: var(--logo-green) !important;
}
.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox-inner,
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: var(--logo-green);
  border-color: var(--logo-green);
}
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner,
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner {
  border-color: var(--logo-green) !important;
}
/*----- dark mode overrides for antd comps-----*/
.dark {
  & .ant-tabs .ant-tabs-tab-btn {
    color: var(--gray);
  }
  & .ant-tabs-top >.ant-tabs-nav::before,
  & .ant-list-split .ant-list-item {
    border-block-end: 1px solid var(--darker);
  }
  & .ant-tabs-card >.ant-tabs-nav .ant-tabs-tab {
    border: 1px solid var(--darker);
  }
  & .ant-list-empty-text,
  & .ant-tabs .ant-tabs-tab-remove {
    color: var(--gray);
  }
  & .ant-tabs-card >.ant-tabs-nav .ant-tabs-tab {
    background-color: var(--darker);
    color: var(--dark);
  }
  & .ant-tabs-card >.ant-tabs-nav .ant-tabs-tab-active {
    background-color: var(--dark);
    border-bottom-color: var(--dark);
  }
}