.footerStyles {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
}
.footerStylesDark span {
    color: var(--light-gray);
}