.title {
    text-align: left;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 50px;
}
.gutterRow {
    padding: 0 8px;
}
.title,
.text {
    margin-top: 0;
}
.titleDark {
    color: var(--white) !important;
}
.textDark {
    color: var(--light-gray);
}
.choreListDark {
    background-color: var(--dark);
}
.choreListDark .ant-typography {
    color: var(--white);
}
.earningsCard {
    background-color: var(--white);
}
.earningsCardDark {
    background-color: var(--dark);
}
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0px 20px;
    }
    .choreList {
        margin-bottom: 20px;
    }
}